/* fonts */
@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}
@font-face {
  font-family: "bisonRI";
  src: url(../fonts/Bison/Bison-BoldItallic.ttf);
}
@font-face {
  font-family: "helveticaRoman";
  src: url(../fonts/helvetica/HelveticaInserat-Roman.otf);
}
/* basic styles */
* {
  font-family: Quicksand;
}
a {
  text-decoration: none !important;
}
li,
ul {
  list-style: none;
}
.fa-youtube {
  color: rgb(255, 255, 255);
}
.fa-twitter {
  color: rgb(255, 255, 255);
}
.socialNav a .fa-facebook {
  color: rgb(15, 15, 178);
}
.socialNav a .fa-instagram {
  color: orangered;
}
.fa-instagram {
  color: rgb(255, 255, 255);
}
.fa-github {
  color: rgb(51, 51, 51);
}
.fa-telegram {
  color: rgb(26, 83, 188) !important;
}
.fa-facebook {
  color: rgb(255, 255, 255);
}
button:focus {
  outline: none;
}
/*nav*/
.mainNav {
  background-color: #efefef;
  margin-bottom: 12px;
}
.burger {
  position: relative;
  width: 30px;
  height: 25px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 10px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 21px;
  left: 10px;
}
.log {
  font-size: 28px !important;
}
/* Search&Social */
.nav2 {
  right: 5px;
}
.input-container {
  position: relative;
  display: flex;
  height: 2.4rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
}
.input-container input {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgb(176 190 197);
  background-color: transparent;
  padding: 0.625rem 70px 0.625rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: rgb(69 90 100);
  outline: none;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}
.input-container input:focus {
  border: 1px solid #2d2d2d;
}
.invite-btn {
  position: absolute;
  width: 55px;
  right: 6px;
  top: 4px;
  bottom: 4px;
  z-index: 10;
  border-radius: 4px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  transition: 0.4s ease;
}
.invite-btn:hover {
  right: 4px;
  top: 4px;
  bottom: 4px;
  border-radius: 4px;
}
.input-container input:placeholder-shown ~ .invite-btn {
  pointer-events: none;
  background-color: #000000;
  opacity: 0.8;
}
.navIcons {
  font-size: 26px !important;
  vertical-align: -14px;
  color: #000000;
  transition: all 0.4s;
  padding-right: 2px;
}
.navIcons:hover {
  transform: scale(1.2);
}
.shopping {
  font-size: 26px !important;
  vertical-align: -14px;
  color: #000000;
  transition: all 0.4s;
}
.shopping:hover {
  transform: translate(6px);
}
/* web Introduction */
.webIntroWrapper {
  background-color: transparent;
}
.webIntroWrapper .row {
  background-color: transparent;
}
.webIntro h3 {
  font-size: 80px;
  font-family: helveticaRoman;
  line-height: 80px;
  color: rgb(21, 21, 21);
}
.webIntro p {
  font-weight: 700;
  text-align: center;
  margin-top: 12px;
  color: rgb(95, 95, 95);
}
.webIntro .buttons button {
  background-color: #222222;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 10px;
}
.webIntro .buttons button:hover {
  background-color: black;
}
/* shoeCarousel */
.price {
  font-weight: 600;
  font-size: 20px;
}
.trashIcon {
  width: 16%;
}
.addToCart {
  width: 81%;
}
.cardDivider {
  height: 40px;
}
.shadow {
  box-shadow: 0px 0px 8px 0px rgb(123, 123, 123);
}
/* offerSection */
.offer div {
  padding: 10px 4px;
  height: 42vh;
}
.offer .row {
  background-color: #c7372e;
  overflow: hidden;
  padding: 0;
}
.offertext {
  color: white;
  text-align: end;
}
.offertext h3 {
  font-family: helveticaRoman;
  font-size: 50px;
  margin-top: 14px;
}
.offertext p span {
  display: block;
}
/* shirtCardStyles */
.card-custom {
  border: 0;
}
.card-custom a {
  border-radius: 10px;
  box-shadow: -5px 5px 10px 0 rgb(198, 198, 198);
}
.card-custom a div h6 span {
  font-weight: 700;
}
.card-custom .card-body .card-title h4 {
  font-weight: 400;
}
.card-custom .card-body .card-subtitle div i {
  background-color: rgb(30, 30, 30);
  padding: 0 1rem;
  border-radius: 12px 6px;
  font-size: 14px;
  transition: all.4s;
}
.card-custom .card-body .card-subtitle div i:hover {
  background-color: rgb(0, 0, 0);
  padding: 0 0.8rem;
}
.row .card-custom:nth-child(1),
.row .card-custom:nth-child(2),
.row .card-custom:nth-child(3) {
  margin-top: 28px !important;
}
.row .card-custom:nth-child(4),
.row .card-custom:nth-child(5),
.row .card-custom:nth-child(6) {
  margin-bottom: 28px !important;
  margin-top: 12px !important;
}
/* shoe intro section */
.introSportShoeWrapper h2 {
font-family: bisonRI;
color: black;
}
/* footer */
.footerWrapper {
  background-color: #161616;
}
.footerWrapper .row .Column1InFooter ul a li,
.footerWrapper .row .otherColumnsInFooter ul a {
  white-space: nowrap;
}
.footerWrapper .row .Column1InFooter ul a li,
.footerWrapper .row .otherColumnsInFooter ul a:first-child li {
  color: rgb(213, 213, 213);
  font-weight: 900;
  line-height: 30px;
  transition: all 0.4s;
}
.footerWrapper .row .otherColumnsInFooter ul a:not(:first-child) li {
  color: rgb(213, 213, 213);
  font-weight: 500;
  line-height: 30px;
  transition: all 0.4s;
}
.footerWrapper .row div ul a li:hover {
  transform: translate(2px);
}
.footerIconWrapper {
  padding-right: 40px;
  white-space: nowrap;
}
.footerIconWrapper a {
  height: 36px;
  transition: all 0.4s;
}
.footerIconWrapper a:hover {
  transform: scale(1.1);
}
.footerIconWrapper a i {
  font-size: 40px;
  padding-left: 4px;
}
.Terms ul a li {
  color: rgb(213, 213, 213);
  padding-right: 8px;
  font-weight: 300;
  white-space: nowrap;
  transition: all 0.2s;
}